<div class="flex flex-col min-h-screen justify-center items-center">
  <h1 class="text-5xl">Oi mundo!</h1>
  <h1 class="text-2xl mt-5">Site criado com phonix e elixir</h1>
  <div class="mt-5 w-1/5 flex justify-around">
    <a href="/users">
      <button class="btn">
        Users List
      </button>
    </a>

    <a href="/todo">
      <button class="btn">
        Todo List
      </button>
    </a>
  </div>
</div>
